{% extends 'base.template.html' %}

{% block content %}
<h1>All Items</h1>

    {%for i in items %}
    <div>
        <h1>{{i.name}}</h1>
        <p>Done:{{i.done}}</p>
        <p>Category:{{i.category}}</p>
        <div>
            <ul>
                {%for t in i.tags.all %}
                <li>{{t}}</li>
                {% endfor %}
            </ul>
        </div>
        <div>
            {% if i.photo %}
            <img src="{{ i.photo.cdn_url}}"/>
            {%endif%}
        </div>
        <hr/>
    </div>
    {%endfor%}
{% endblock %}